@page
@model PizzaPlayground.Pages.Checkout.Checkout

@{
    var imagePath = $"~/images/Pizzas/{@Model.ImageTitle}.png";
}

<h1>Your Order!</h1>

<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img class="w-100" asp-append-version="true" src="@imagePath">
        <p>Your order for the @Model.PizzaName Pizza is ready!</p>
        <p>Total price for your order is: @Model.PizzaPrice$</p>
        <br>

        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="/Checkout/ThankYou">Confirm Order</a>
    </div>
</div>
