@page
@model PizzaPlayground.Pages.Forms.CustomPizza


<a class="nav-link text-dark" asp-area="" asp-page="/Checkout/Checkout">Checkout</a>


<div class="text-center container">
    <h1>Create Your Own Pizza</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 py-5 rounded-5 bg-light col-4">
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Pizza.PizzaName" placeholder="Give your pizza a name...">
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.TomatoSauce"> Tomate Sauce
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Cheese"> Cheese
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Pineapple"> Pineapple
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Peperoni"> Peperoni
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Mushroom"> Mushroom
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Tuna"> Tuna
        </div>

        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Ham"> Ham
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="Pizza.Beef"> Beef
        </div>


        <button class="btn btn-primary mt-1" type="submit">
            Order My Pizza
        </button>
    </form>
</div>
