@page
@model PizzaPlayground.Pages.Pizza

<div class="text-center">
    <div class="mainText">
        <h1 class="display-54 text-capitalize text-black"> Our great selection of Pizzas!</h1>
        <h4 >Choose one, or try our Pizza Builder! Then Order and Done!</h4>
        <h4>No need to give any of your details</h4>
        <h4>We already know everything!</h4>

        <p class="smallText">
            <i>Only 1 pizza per order</i>
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/images/Pizzas/Create.png" alt="" class="w-100">
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align: left">Create your own Pizza</h3>
                            <p style="text-align: left">Make your own pizza with our Pizza Maker!</p>
                            <a class="btn btn-primary" style="float: left" asp-page="/Forms/CustomPizza" asp-area="">BRING ME THAT PIZZA</a>
                        </div>
                    </div>

                </div>
            </div>
        @foreach (var pizza in Model.fakePizzaDB)
        {
            string imagePath = $"~/images/Pizzas/{pizza.ImageTitle}.png";

            <div class="col-4 mb-5">

                <img src="@imagePath" alt="" class="w-100 mb-5" asp-append-version="true"/>
                <a class="btn btn-primary" asp-area="" 
                  asp-route-ImageTitle="@pizza.ImageTitle" 
                  asp-route-PizzaPrice="@pizza.FinalPrice" 
                   asp-page="/Checkout/Checkout">Get This Pizza</a>
                <br>
            </div>
        }
                </div>

    </div>
</div>
